<!DOCTYPE html><html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<head>
    <title>Tokita.com</title>
    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/bootflat.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/style.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header container">
      <!-- <div class="col-md-1"></div>
	  <div class="col-md-11">
	  	<div class="col-md-3">
	  		<h1>{{--<img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive"/>--}}TOKITA</h1>
	  	</div>
	  	<div class="col-md-4">
	  		<div class="form-search search-only navTopMargin">
	  			<i class="search-icon glyphicon glyphicon-search"></i>
	  			<input type="text" class="form-control search-query col-md-4" placeholder="Search...">
	  		</div>
	  	</div>
	  	<div class="col-md-2">
	  		<div class="smallIcon" align="right">
	  			<img src="{{ asset('images/cart.png') }}" alt="" class="img-responsive"/>
	  			<img src="{{ asset('images/cart.png') }}" alt="" class="img-responsive"/>
	  		</div>
	  	</div>
	  	<div class="col-md-2">
  			<a href="" data-toggle="modal" data-target="#ModalLogin">LOGIN</a> | REGISTER
	  	</div>
	  </div> -->

      <div class="col-md-12">
        <div class="col-xs-12 col-sm-12 col-md-3" align="center">
            <h1>{{--<img src="{{ asset('images/logo.png') }}" alt="" class="img-responsive"/>--}}TOKITA</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" align="center">
            <div class="form-search search-only navTopMargin">
                <i class="search-icon glyphicon glyphicon-search"></i>
                <input type="text" class="form-control search-query col-md-4" placeholder="Search...">
            </div>
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-2 hidden-sm hidden-xs" align="center">
           <div class="smallIcon" align="right">
                <img src="{{ asset('images/cart.png') }}" alt="" class="img-responsive"/>
                <img src="{{ asset('images/cart.png') }}" alt="" class="img-responsive"/>
            </div>
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-2 hidden-sm hidden-xs" align="center">
           <a href="" data-toggle="modal" data-target="#ModalLogin">LOGIN</a> | REGISTER
        </div> 
      </div>
            
            
            
      </div>
	<!-- <div class="content"> -->
	   
	<!-- slider source: http://www.jssor.com/ -->
	<div style="min-height: 50px;  margin-top:100px;">
        <!-- Jssor Slider Begin -->
        <!-- To move inline styles to css file/block, please specify a class name for each element. --> 
        <!-- ================================================== -->
        <div id="slider1_container" style="display: none; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1200px; height: 500px; overflow: hidden;">
            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
            </div>
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 600px; overflow: hidden;">
                <div>
                    <img u="image" src="{{ asset('images/promo/promo3.jpg') }}" />
                </div>
                <div>
                    <img u="image" src="{{ asset('images/slider/purple.jpg') }}" />
                </div>
                <div>
                    <img u="image" src="{{ asset('images/slider/red.jpg') }}" />
                </div>
            </div>            
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
            <style>
                .jssorb21 {
                    position: absolute;
                }
                .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
                    position: absolute;
                    /* size of bullet elment */
                    width: 19px;
                    height: 19px;
                    text-align: center;
                    line-height: 19px;
                    color: white;
                    font-size: 12px;
                    background: url({{ asset('images/slider/b21.png') }}) no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }
                .jssorb21 div { background-position: -5px -5px; }
                .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
                .jssorb21 .av { background-position: -65px -5px; }
                .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
            </style>
            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
                <!-- bullet navigator item prototype -->
                <div u="prototype"></div>
            </div>
            <!--#endregion Bullet Navigator Skin End -->
            
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
            <style>
                .jssora21l, .jssora21r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 55px;
                    height: 55px;
                    cursor: pointer;
                    background: url({{ asset('images/slider/a11.png') }}) center center no-repeat;
                    overflow: hidden;
                }
                .jssora21l { background-position: -3px -33px; }
                .jssora21r { background-position: -63px -33px; }
                .jssora21l:hover { background-position: -123px -33px; }
                .jssora21r:hover { background-position: -183px -33px; }
                .jssora21l.jssora21ldn { background-position: -243px -33px; }
                .jssora21r.jssora21rdn { background-position: -303px -33px; }
            </style>
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
        </div>
        <!-- Jssor Slider End -->
    </div>
	<!-- end slider -->
	<!-- </div> -->
    <div class="container">
        <div class="col-md-3">
            <ul class="menu">
                <li class="subitem1"><a href="#">Semua Event</a>
                    <ul>
                        <li class="subitem2"><a href="#">Diskon hari ini</a></li>
                        <li class="subitem2"><a href="#">Produk baru</a></li>
                        <li class="subitem2"><a href="#">Produk populer</a></li>
                    </ul>
                </li>
                <li class="subitem1 dropdown "><a href="#">Semua Kategori</a>
                    <ul>
                        <li class="subitem2"><a href="#">Minuman</a></li>
                        <li class="subitem2"><a href="#">Makanan</a></li>
                        <li class="subitem2"><a href="#">Aneka Mie</a></li>
                        <li class="subitem2"><a href="#">Cemilan</a></li>
                        <li class="subitem2"><a href="#">Sabun dan Kecantikan</a></li>
                        <li class="subitem2"><a href="#">Peralatan RT</a></li>
                        <li class="subitem2"><a href="#">Obat-obatan</a></li>
                        <li class="subitem2"><a href="#">Alat Tulis & Kantor</a></li>
                        <li class="subitem2"><a href="#">Bayi & Anak</a></li>
                        <li class="subitem2"><a href="#">Kebersihan Rumah</a></li>
                        <li class="subitem2"><a href="#">Sembako</a></li>
                        <li class="subitem2"><a href="#">Bahan & Bumbu</a></li>
                        <li class="subitem2"><a href="#">Es Krim</a></li>
                        <li class="subitem2"><a href="#">Lain-lain</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- start section  -->
            <div class="HPsection">
                <div class="sectionTitle">
                    <h4>Diskon Hari Ini</h4>
                </div>
                <div class="sectionProducts">
                    <!-- diulang dari sini -->
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="thumbnail productPanel">
                            <div class="discount">
                                <p>50%</p>
                            </div>
                            <img src="{{ asset('images/products/pr1.jpg') }}" alt="" class="img-responsive"/>
                            
                            <div class="productName">
                                Pulpy Orange
                            </div>
                            <div class="pricePromo">
                                Rp. 2.000
                            </div>
                            <div class="priceAsli">
                                Rp. 3.500
                            </div>
                    
                    <!-- diulang sampe sini -->
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr2.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Millo
                        </div>
                        <div class="pricePromo">
                            Rp. 4.000
                        </div>
                        <div class="priceAsli">
                            Rp. 2.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr1.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Pulpy Orange
                        </div>
                        <div class="pricePromo">
                            Rp. 2.000
                        </div>
                        <div class="priceAsli">
                            Rp. 3.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr2.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Millo
                        </div>
                        <div class="pricePromo">
                            Rp. 4.000
                        </div>
                        <div class="priceAsli">
                            Rp. 2.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr2.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Millo
                        </div>
                        <div class="pricePromo">
                            Rp. 4.000
                        </div>
                        <div class="priceAsli">
                            Rp. 2.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr1.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Pulpy Orange
                        </div>
                        <div class="pricePromo">
                            Rp. 2.000
                        </div>
                        <div class="priceAsli">
                            Rp. 3.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr2.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Millo
                        </div>
                        <div class="pricePromo">
                            Rp. 4.000
                        </div>
                        <div class="priceAsli">
                            Rp. 2.500
                        </div>
                    </div>
                    <div class="thumbnail productPanel">
                        <div class="discount">
                            <p>50%</p>
                        </div>
                        <img src="{{ asset('images/products/pr1.jpg') }}" alt="" class="img-responsive"/>
                        <div class="productName">
                            Pulpy Orange
                        </div>
                        <div class="pricePromo">
                            Rp. 2.000
                        </div>
                        <div class="priceAsli">
                            Rp. 3.500
                        </div>
                    </div>
                </div>
                <div align=right>Lihat seluruhnya ></div> 
            </div>
            <!-- end section -->


            
        </div>
    </div>

<!-- modals -->
<div id="ModalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel">Logo / Kalimat selamat datang apapun</h3>
                </div>
                <form action="" method="POST">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="">Email/Username:</label>
                                <input type="text" name="name" class="form-control" placeholder="Masukkan email/username">
                            </div>
                            <div class="form-group">
                                <label for="">Password:</label>
                                <input type="password" name="name" class="form-control" placeholder="Masukkan password">
                            </div>
                                  <input type="checkbox"> Selalu ingat password/ sign in otomatis 
                            <div>Lupa password?</div>
                    </div>                    
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Sign in">
                    </div>
                    <div align=right>belum memiliki akun?</div>
                </form>
            </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="col-md-2">
            LOGO
        </div>
        <div class="col-md-3">
            Kontak Kami
        </div>
        <div class="col-md-6" align="left">
            <div >Temukan kami di sini O O O O</div>
            <div class="col-md-4">
                Tentang Tokita
            </div>
            <div class="col-md-4">
                FAQ
            </div>
            <div class="col-md-4">
                Jaminan Aman
            </div>
        </div>
      </div>
    </footer>


<!-- <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
<!-- source : http://www.jssor.com/ -->
	<script type="text/javascript">
		$(function() {
	  var shrinkHeader = 100;
	  $(window).scroll(function() {
	    var scroll = getCurrentScroll();
	    if (scroll >= shrinkHeader) {
	      $('.header').addClass('shrink');
	      $('.smallIcon').addClass('shrink');
	      $('.navTopMargin').addClass('shrink');
	    } else {
	      $('.header').removeClass('shrink');
	      $('.smallIcon').removeClass('shrink');
	      $('.navTopMargin').removeClass('shrink');
	    }
	  });

	  function getCurrentScroll() {
	    return window.pageYOffset || document.documentElement.scrollTop;
	  }
	});
	</script>
	<script src="js/jssor.slider.mini.js"></script>
	<script>
        jQuery(document).ready(function ($) {

            var options = {
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
              
                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    $Scale: false                                   //Scales bullets navigator or not while slider scale
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            //Make the element 'slider1_container' visible before initialize jssor slider.
            $("#slider1_container").css("display", "block");
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
    <!-- script left-navbar -->
    <script type="text/javascript">
    $(function() {     
        var menu_ul = $('.menu > li > ul'),
            menu_a  = $('.menu > li > a');

        menu_ul.hide();
     
        menu_a.click(function(e) {
            e.preventDefault();
            if(!$(this).hasClass('active')) {
                // menu_a.removeClass('active');
                // menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
            }
        }); 
    });
    </script>
</body>
</html>