/*--------------------font face--------------------*/  
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
  /*font-family: 'Open Sans', sans-serif;*/
/*--------------------font face--------------------*/  

/*--------------------variable--------------------*/
  /**
   * black #000000
   * yellow #FCB812
   * light yellow #FFD366
   * red CD1411
   * light gray #F0F0F0
   * dark gray #E6E6E6
   * darker gray #999999
   * red text #CC1412
  */
/*--------------------variable--------------------*/


/*--------------------general--------------------*/
  *,h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
  }
  html {
    position: relative;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    /* Margin bottom by footer height */
    /*margin-bottom: 120px;*/
  }
  a{
    text-decoration: none !important;
    color: #393939;
  }
  a:hover{
    color:#FCB812 !important;
  }
  ul,li{
    list-style: none;
  }
  textRed{
    color:#CC1412;
  }
  .fullWidth{
    width: 100%;
  }
  .bodywrapper{
    margin-top: 100px;
  }
  .align-left{
    text-align:  left;
  }
  .align-center{
    text-align:  center;
  }
  .align-right{
    text-align: right;
  }
  .display-inline-block{
    display:  block;
    text-align: right;
  }
  .absolute{
    position: absolute;
  }
  .vertical-margin{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .noPadding{
    padding:0;
  }
  .padding-left{
    padding-left: 15px;
  }
  .padding-right{
    padding-right: 15px;
  }
  .display-block{
    display: block;
  }
  .display-inline{
    display: inline;
  }
  .display-inline-block{
    display: inline-block;
  }
  .position-relative{
    position: relative;
  }
  .fontSmall{
    font-size: 12px;
  }
  .small-size-icon{
    display: inline-block;
    width: 30px;
    /*height: 30px;*/
  }
  .margin-left{
    margin-left: 30px;
  }
  .form-rows .row{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .margin-top--normal{
    position: relative;
    margin-top: 15px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  input[type=number] {
      -moz-appearance:textfield;
  }
  .input input{
      width: 60%;
      padding: 6px;
      border-radius: 5px;
      border: solid #d3d3d3 1px;
      text-align: center;
  }
  select:focus{
    border-color: #D8D8D8 !important;
    box-shadow: 0 0 1px white inset, 0 0 5px rgba(252,184,18,0.8) !important;
    outline: 0 none;
  }
  textarea:focus, input:focus, input[type]:focus{   
    border-color: #D8D8D8 !important;
    box-shadow: 0 0 1px white inset, 0 0 5px rgba(252,184,18,0.8) !important;
    outline: 0 none;
    background-color: #f0f0f0 !important;
  }
/*--------------------general--------------------*/

/*--------------------slider--------------------*/
  .carousel{
    text-align: center;
    height: 100%;
    overflow: hidden;
  }
  .carousel .item{
    margin: 3px;
  }
  .carousel img{
    /*display: block;*/
    width: 100%;
    height: 100%;
  }
  /*.carousel img{
    width: 100%;
  }*/
  .carouselWrapper{
    height: 100%;
    /*margin-top: 110px;*/
    position: relative;
    margin-bottom: -15px;
  }
  .carouselPrev img, .carouselNext img{
    width: 40px;
    opacity: 0.3;
    top:50%;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    transform:translateY(-50%);
    z-index: 1;
  }
  .carouselPrev img{
    float: left;
    left: 15px;
    position: absolute;
    z-index:1;
  }
  .carouselNext img{
    right: 15px;
    float: right;
    position: absolute;
    text-align: right;
    z-index:1;
  }

/*--------------------slider--------------------*/

/*--------------------footer--------------------*/
  footer{
    width:100%;
    /*height:120px;*/
    position:inherit;
    overflow: hidden;
    bottom:0;
    left:0;
    background:#0D120E;
    /*text-align: center;*/
    color: black;
  }
  .footer {
    /*position: absolute;*/
    bottom: 0;
    margin-top: 15px;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 120px;*/
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-bottom{
    height: 120px;
    position: absolute;
  }
  /*for body tag*/
  .body-footer-bottom{
    margin-bottom: 120px;
  }
  .footer img{
    width: 70%;
    margin-bottom: 15px;
  }
  .footerSubtitle{
    font-weight: bold;
    color: #999999;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .footerSubtitle span{
    border-radius: 5px;
    border: solid #999999 2px;
    padding:5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .footerContent{
    color: #999999;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footerContent a{
    color: #999999;
  }
/*--------------------footer--------------------*/

/*--------------------modal--------------------*/
  .modalTitle{
    text-align: center;
  }
  .modal-large{
    width: 80%;
  }
  .modal-small{
    width: 30%;
    min-width: 300px;
  }
  .modal-close{
    position: absolute;
    margin-top: -50px;
    right:15px;
  }
  .modal-close span{
    font-size: 30px;
  }
  .modalContent{
    padding:15px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .modalContent button{
    margin-top: 15px;
  }
  .bottom-right-modal{
    width: 100%; 
    text-align : right;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  .modalInstruction{
    /*padding: 5%;*/
    /*padding-top: 0;*/
  }
  .closeModalButton{
    margin-right: 15px;
    margin-top: 10px;
  }
  /*--------------------gift--------------------*/
    .giftsWrapper{

    }
    .gift{
      margin-top: 4px;
      padding-top: 15px;
      padding-bottom: 15px;      
      width: 100%;
      background-color: white;
      overflow: hidden;
      border-top: solid #f0f0f0 1px;
      border-bottom: solid #f0f0f0 1px;
    }
    .gift_image{
      border: solid #f0f0f0 1px;
      border-radius: 5px;
    }
    .gift_image img{
      width:100%;
      border-radius: 10px;
      padding: 5px;
    }
    .gift_info{

    }
    .gift_info_point{
      font-weight: bold;
    }
    .couponName{
      font-weight: bold;
      font-size: 15px;
      display: block;
      margin-bottom: 5px;
    }
  /*--------------------gift--------------------*/

  /*--------------------login--------------------*/
    .modalLogin{
      /*width: 30%;*/
      /*min-width: 300px;*/
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #F0F0F0 inset;
    }
    .modalLogin input[type="text"], .modalLogin input[type="password"]{
      background-color: #F0F0F0;
    }
    .modalLogin-body{
      margin-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 60px;
    }
    .modalLogin img{
      width: 50%;
    }
   
  /*--------------------login--------------------*/

  /*--------------------product detail--------------------*/
    .detailProductModal{
      /*width: 40%;*/
    }
    .detailProductWrapper{
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .detailProductWrapper .detailProductName{
      font-size: 18px;
      text-align: center;
      font-weight: bold;
    }
    .detailProductPrice{
      padding: 5px;
      text-align: center;
      /*width: 50%;*/
      border: solid #FCB812 2px;
      border-radius: 5px;
      font-size: 15px;
      margin-top: 5px;
    }
    .detailProductName{
      font-weight: bold;
      font-size: 30px;
    }
    .detailProductDesc{
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 13px;
    }
    .detailBuyButton{
      width: 100%;
      /*margin-top: 15px;*/
      padding-top: 2px;
      padding-bottom: 2px;
      padding-top: 2px;
    /*      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      background-color: #CB4940;
      color:  white;
      border: none;*/
    }
    .detailFavButton{
      width: 100%;
      margin-top: 2px;
      /*padding-top: 5px;*/
      /*padding-bottom: 5px;*/
      text-align: center;
      background-color: #CC1412;
      color:  white;
      border: none;
      letter-spacing: 1px;
    }
    .detailFavButton:hover{
      background-color: #F03737;
    }
    .detailFavButton img{
      width: 30px;
      /*display: inline;*/
    }
    .detailAmount{
      /*padding-top: 15px;*/
      /*padding-bottom: 10px;*/
      text-align: center;
    }
    .detailAmount input{
      width: 50%;
      padding: 6px;
      border-radius: 5px;
      border: solid #d3d3d3 1px;
      text-align: center;
    }
    .detailProductImage{
      text-align: center;
    }
    .detailProductImage img{
      width: 100%;
      text-align: center;
    }
    .out-of-stock-alert{
      color: #CC1412;
      margin-top: 10px;
    }
  /*--------------------product detail--------------------*/
/*--------------------modal--------------------*/

/*--------------------button--------------------*/
  .btn-default{
    border: none;
    border-radius: 5px;
  }
  .buttonYellow{
    background-color: #FCB812;
    color : #CD1411;
    padding-left: 22px;
    padding-right: 22px;
    height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .buttonYellow:hover{
    background-color: #FFD366;
  }
  .buttonTokita{
    background-color: #CB4940 !important;
    color: #FCB812 !important;
    border:none;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .buttonTokita:hover{
    color:#FCB812;
    background-color: #D62929;
  }
  .buttonSmall{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
  }
  .buttonMedium{
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
  }
  .buttonGray{
    background-color: #989898;
  }
  .buttonLogin{
    background-color: #FCB812;
    color : #CD1411;
    padding-left: 22px;
    padding-right: 22px;
    height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .buttonLogin-radius{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .buttonLogin:hover{
    background-color: #FFD366;
    color: #CD1411;
  }
  .buttonRegister{
    background-color: #CD1411;
    color: #FCB812;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .buttonRegister:hover{
    background-color: #CB4940; 
    color: #FCB812;
  }
  .buttonAccountName{
    background-color: #FCB812;
    display: inline;
    text-align: left;
    color: #CD1411;
    font-weight: bold;
    width: 100%;
  }
  .buttonAccountName span img{
    margin-top: -5px;
    width: 15px;
  }
  .buttonAccountName a:hover{
    color: #3e3e3e !important;
  }
  .buttonAccountName:hover, .buttonAccountName:active, .buttonAccountName:target {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .buttonCancelOrder{
    padding-left: 15px;
    padding-right: 15px;
  }
/*--------------------button--------------------*/


/*--------------------large screen--------------------*/
    .menuSlider{
        display: none;
    }
/*--------------------large screen--------------------*/

/*--------------------top Navbar (header)--------------------*/
  /*--------------------unshrink--------------------*/  
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      border-top: solid #FCB812 5px;
      color: #fff;
      z-index: 20;
      -webkit-transition: height 0.4s;
      -moz-transition: height 0.4s;
      transition: height 0.4s;
      /*line-height: 100px;*/
      padding-bottom: 0px;
      display: block;
      box-shadow: 0px 5px 30px #B8B8B8;
    }

    .headerMenu{
      color: black;
    }
    .header-menu > li{
      display: inline;
    }
    .headerLogo{
      width: 80%;
      display: inline-block;
    }
    .headerLogo--shrink{
      width: 80%;
      padding-bottom: 5px;
      /*visibility: none;*/
    }
    .logoTagline{
      width: 110%;
      /*height: 40px;*/
      /*margin-left: auto;*/
      /*margin-right: auto;*/
      margin-top: -5px;
      text-align: left;
    }
    .logoBasic{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
      text-align: left;
    }
    .headerLogo img{
      top: 0;
      left: 0;
      z-index: 1000;
      overflow: hidden;
      margin-bottom: 5px;
      -webkit-transition: height 0.4s;
      -moz-transition: height 0.4s;
      transition: height 0.4s;
    }
    .logoMobile{
      /*max-width: 40px;*/
      top: 5px;
      position: absolute;
    }
    .disappear-on-shrink img{
      -webkit-transition: height 0.4s;
      -moz-transition: height 0.4s;
      transition: height 0.4s; 
    }
    .headerSearch{
      width: 100%;
      margin-top: 40px;
    }
    .headerSearch .input-group{
      width: 100%;
    }
    .headerSearch .form-control{
      border-radius: 5px !important;
    }
    .headerRight{
      margin-top: 40px;
      margin-left: -15px;
    }
    .inputSearch{
      background: #F0F0F0 url('../images/icon/search_2.png') 10px;
      background-position: 98% 50%;
      background-size: 25px;
      background-repeat: no-repeat;
      padding-right: 35px;
      border:none;
      /*border-radius: 50px;*/
    }
    .headerButtonIcon{
      border-radius:5px;
      border: solid #FCB812 2px;
      width: 35px;
      height: 35px;
      display: inline-block;
    }
    .headerButtonIcon img{
      width: 100%;
    }
    .headerButtonAccount{
      display: inline;
    }
    .headerButtonAccount button{
      /*max-width: 200px;*/
    }
    .headerButtonAccount-loggedin{
      width: 100%;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      white-space: normal;
    }
    .smallIcon img{
      margin-top: 1%;
      width: 40px;
      height: auto;
      display: inline-block;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      margin-right: 2%;
    }
    .smallIcon button{
      font-size: 15px;
    }
    .navTopMargin {
      /*margin-top: 10%;*/
      z-index: 2;
    /*  -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
    }
    .dropdown-menu{
      margin-top: -30px; 
      text-align: left;
      left: 120px;
    }
    .dropdown-menu--slide{
      margin-top: 0px
    }
    .menuDashboard{
      border: none;
      background-color: #FCB812;
    }
    .menuDashboard ul{
      padding-left: 0px;
    }
    .menuDashboard nav ul ul{
      display: none;
      font-weight: normal;
      z-index: 10;
      text-align: left;
      background-color: #FCB812;
    }
    .menuDashboard nav ul ul li{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
    }
    .menuDashboard nav ul li:hover > ul{
      display: block;
      position: absolute;
      background-color: #FCB812;
      text-align: left;
    }
    .menuDashboard nav ul ul li:hover{
      background-color: #FFD366;
      cursor: pointer;
    }
    .menuDashboard nav ul:after{
      content: ""; 
      clear: both; 
      display: block;
    }
    .cartNotif{
      position: absolute;
      /*margin-right: 1px;*/
      background-color: #E61515;
      border-radius: 50%;
      margin-left: 15px;
      /*padding: 5px;*/
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: -10px;
      color: white;
      font-size: 13px;
      text-align: center;
      height: 22px;
      width: 22px;
    }
  /*--------------------unshrink--------------------*/

  /*--------------------shrinked--------------------*/
    .header.shrink {
      /*height: 60px;*/
      /*overflow: hidden;*/
      /*line-height: 40px;*/
      opacity: 1;
      z-index: 20 !important;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      /*padding-bottom: 15px;*/
      display: block;
    }
    .header.shrink .headerMenu .headerLogo img{
      /*width: 50%;*/
      /*margin-top: -2%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .header.shrink .headerSearch{
      margin-top: 15px;
    }
    .header.shrink .headerRight{
      margin-top: 15px;
    }
    .header.shrink h1 {
      font-size: 24px;
      margin-top: 5%;
      /*-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
    }
    .disappear-on-shrink.shrink{
      height: 0px;
       -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      /*display: none;*/
    }
    .smallIcon.shrink button{
      margin-top: 5%;
      font-size: 13px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .smallIcon.shrink img{
      margin-top: 5%;
      width: 30px;
      height: auto;
      /*-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
    }
    .navTopMargin.shrink{
      margin-top: 2%;
      /*margin-left: -30%;*/
      /*-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
    }
    .dropdown-menu.shrink{
      margin-top: 0px !important;
      /*display: none;*/
    }
  /*--------------------shrinked--------------------*/

  /*--------------------header small device--------------------*/
    .headersmall{
      position: fixed;
      z-index: 99;
      background-color: white;
      border-bottom: solid  #AA362E 5px;
      color: black;
      height: 58px;
      width: 100%;
      left: 0;
    }
    .headersmall_element img{
      height: 30px;
      margin-top: 13px;
      margin-right: 15px;
    }
    .headersmall_element--left{
      float: left;
      width: 50%;
      display: inline;
    }
    .headersmall_element--right{
      text-align: right;
      display: inline;
    }
    .headersmall_element--right img{
      margin-right: 15px;
      border: solid #FCB812 2px;
      width: 35px;
      height: 35px;
      border-radius: 5px;
    }
    .headerButtonIcon-mobile{
      border:none;
      text-align: right;
    }
    .headerSmallSearchWrapper{
      position: fixed;
      /*display: block;*/
      top:58px;
      z-index:40;
      background-color: white;
      margin-left: -15px;
      width: 100%;
      padding:5px;
    }
  /*--------------------header small device--------------------*/
/*--------------------top Navbar (header)--------------------*/

/*--------------------left Navbar--------------------*/
  .menu{
    text-decoration: none;
    background-color: #F0F0F0;
    padding: 15px;
    padding-top: 25px;
    /*margin-top: -15px;*/
  }
  .menu a{
    text-decoration: none;
    color: #393939;
  }
  .menu li{
    width: 100%;
  }
  .subitem1 {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5%;
    padding: 5px;
    color: #CD1411;
    border-radius: 5px;
    border: solid #FCB812 2px;    
    letter-spacing: 1px;
  }
  .subitem1 span{
    color: #CD1411;
  }
  .subitem1 span:after{
    content: '';
    width: 15px;
    height: 15px;
    margin-top: 1px;
    background: url('../images/icon/down-red.png') no-repeat center center;
    background-size: 100%;
    /*margin-right: 5px;*/
    float: right;
  }
  .subitem1.subitem--categoryName a:after{
    content: '';
    background: transparent;
  }
  .categoryList > ul > li{
    margin-left:-15px;
    padding-bottom: 5px;
  }
  .subitem2{
    text-align: left;
    /*margin-bottom: 5px;*/
    /*margin-left: -20px;*/
  }
  .subitem2 a{
    font-weight: 200;
    margin-bottom: 5%;
    background-color: transparent;
  }
  .sidebar{
    left: 0;
    position: absolute;
    z-index: 10;
    margin-top: 58px;
    background-color: pink;
    color: white;
    display: none;
  }
  .sidebar__button button{
    width: 80%;
    margin-bottom: 15px;
    margin-top:15px;
    /*margin-left: 10%;*/
  }

  .miniicon{
    margin-left: -15px;
    margin-right: 15px;
  }
  .miniicon img{
    width: 30px;
    margin-left: -16px;
    /*margin-right: 7%;*/
  }
  .footerMenuSlider{
    background-color: #989898;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 15px;
    padding-bottom : 15px;
    text-align: left;
  }
  .footerMenuSlider a{
    text-align: left;
    margin-left: 15px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .footerMenuSlider a:hover{
    color:white;
  }
  .banner-ad img{
    width: 90%;
    padding-bottom: 15px; 
  }
/*--------------------left Navbar--------------------*/

/*--------------------block--------------------*/
  .pageTitleSmall{
    margin-top: 35px;
  }
  .pageTitleSmall span{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .filterSection{
    margin-top: 45px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /*padding-bottom: 10px;*/
  }
  .priceSlider{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .priceRange{
    text-align: center;
  }
  .priceRange .price-min, .priceRange .price-max{
    width: 45%;
    display: inline;
    color: #3e3e3e !important;
  }
  .HPsection{
    margin-bottom: 15px;
  }
  .sectionTitle{
    margin-top: 30px;
  }
  .sectionTitle-title{
    font-size: 18px;
    font-weight: bold;
    color: #CC1412;
  }
  .sectionTitle-title span img{
    width: 25px;
    padding-bottom: 5px;
  }
  .sectionTitle-title span{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: solid #FCB812 2px;
  }

  .sectionTitle-seemore{
    text-align: right;    
  }
  .sectionTitle-seemore a{
    font-size: 15px;
    margin-top: 5px;
    font-style: italic;
    color: #CD1411;
  }
  .sectionProducts{
    position: relative;
    /*display: inline-block;*/
    margin-top: 15px;
  }
  .productPanel{
    /*margin-left: 1%;*/
    /*width: 90%;*/
    /*height: 250px;*/
    /*display: inline-table;*/
    /*background-color: red;*/
    overflow: hidden;
  }
  .productImageWrapper{
    width: 100%;
    border-radius: 5px;
    display: inline-block;
  }
  .productInfo{
    display: block;
  }
  .discount{
    z-index: 4;
    position: absolute;
    /*background-color: #CB4940;*/
    background: transparent url('../images/icon/diskon_blank.png') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    /*margin-left: 17%;*/
  }
  .discount p{
    margin-top: 9px;
  }
  .productPanel img{
    width: 100%
  }
  .productName{
    /*text-align: center;*/
    font-weight: bold;
    font-size: 17px;
    min-height: 48px;
    max-height: 48px;
    overflow: hidden;
  }
  .priceAsli{
    font-size: 13px;
    color: #999999;
    text-decoration: line-through;
  }
  .productPrice{
    font-size: 17px;  
    color: #393939;
  }
  .pricePromo{
    color: #CC1412;
    font-weight: bold;
  }
  .pesan{
    display: inline-block;
  }
  .seeMoreText{
    display: inline-block;
    width: 100%;
    text-align: right;
  }
  .stock-status{
    font-size: 11px;
    color: black;
  }
  .stock-status--outofstock{
    color: #CC1412; 
  }
/*--------------------block--------------------*/

/*--------------------spinner--------------------*/
  .spinner {
    width: 100%;
  }
  .spinner input {
    text-align: right;
  }
  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
  }
  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
  }
  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
  }
  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
  }
  .input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
  }
  .input-small{
    text-align: left;
  }
  .input-small input{
    padding: 0px;
    width:40px;
  }
  .arrowButtonDown,.arrowButtonUp{
    cursor: pointer;
  }
  .detailAmount img{
    width: 15px;
  }
  .arrowButton button{
      padding: 6px;
      padding-left: 10px;
      padding-right: 10px;
      border:none;
      border-radius: 5px;
      background-color: #cccccc;
  }
  .arrowButton button:hover{
    background-color: #E4ECED;
  }
  .arrowButton-small{
    padding:0px;
    cursor: pointer;
  }
  .arrowButton-small button{
    padding: 0px;
    width: 25px;
  }
/*--------------------spinner--------------------*/

/*--------------------content page--------------------*/
  .pageTitle{
    color:  white;
    font-size: 2em;
    background-color: #CB4940;
    padding: 4%;
    width: 100%;
  }
  .noProductWarning{
    text-align: center;
    position: relative;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .noProductWarning span{
    color: #F0F0F0;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: solid #F0F0F0 4px;
  }
  .noProductWarning-noMargin{
    margin-top: 30px;
  }
  .filtermobilebutton{
    position: relative;
    right: 0px;
    text-align: right;
    /*top: -50px;*/
  }
  .filtermobile{
    margin-top: 15px;
  }
/*--------------------content page--------------------*/

/*--------------------form--------------------*/
  .form-top-margin{
    margin-top: 50px;
  }
/*--------------------form--------------------*/

/*--------------------error--------------------*/
  .error{
    color: #AC080D;
    font-size: 12px;
  }
  .wrongInput{
    /*margin-top: -10px;*/
    /*margin-bottom: -10px;*/
  }
  .wrongInput:before{
    content: "";
    display: block;
    /*background: url("{{ asset('images/icon/error.png')}}") no-repeat center;*/
    background: transparent url('../images/icon/error.png') no-repeat center center;
    
    background-size: 70%;
    width: 14px;
    height: 14px;
    float: left;
    margin: 0 6px 0 0;
  }
/*--------------------error--------------------*/

/*--------------------cart--------------------*/
  .cartListWrapper{
    margin-top: 20px;
  }
  .cartListHeading{
    margin-top: 30px;
    padding-bottom: 3px;
    border-bottom: solid #f0f0f0 1px;
    color: #FCB812;
  }
  .cartProductName{
    font-weight: bold;
  }
  .cartProductSubtotal{
    font-weight: bold;
  }
  .cartProductPrice{
    padding-top: 5px;
    padding-bottom: 2px;
  }
  .cartProductRow{
    border-bottom: solid #f0f0f0 1px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .cartTotalPrice{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    overflow: hidden;
  }
  .cta_cart{
    margin-top: 15px;
    /*margin-bottom: 15px;*/
  }
  .cartNote{
    position: relative;
    background-color: #F0F0F0;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #999999;
  }
  .cartDelete{
    font-size: 20px;
    color: #999999;
  }
  .requiredWarning{
    color: #CC1412;
    margin-bottom: 10px;
  }
  .sentWrapper{
    width: 100%;
    border-radius: 5px;
    border: solid #FCB812 2px;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .sentWrapper img{
    width: 35%;
  }
  .sentWrapperTitle{
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .sentWrapperContent{
    font-size: 15px;
  }
  .coupon-selector{
    margin-top: 10px;
  }
/*--------------------cart--------------------*/

/*--------------------pages--------------------*/
  .faq-heading{
    font-weight: bold;
  }
  .faq-heading span{
    font-weight: 100;
  }
  .faq-item{
    margin-bottom: 30px;
  }
  .owner-profile{
    margin-bottom: 45px;
  }
  .owner-profile img{
    display: block;
    width: 80%;
    margin-bottom: 15px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
/*--------------------pages--------------------*/

/*--------------------invoice--------------------*/
  .invoice-header img{
    width: 200px;
  }
  .invoice-logo{
    margin-top: 5px;
  }
  .invoice-menu{
    margin-top: 30px;
  }
  .invoice-menu ul li{
    display: inline;
    margin-left: 30px;
    color: #CC1412;
    text-decoration: underline;
  }
  .invoice-body{
    margin-top: 45px;
  }
  .invoice-table-heading{
    font-style: italic;
    color: #999999;
    margin-bottom: 5px;
  }
  .invoice-list{
    border-bottom: solid black 1px;
    /*width: 50%;*/
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*margin-left: 30px;*/
  }
  .invoice-footer{
    margin-top: 30px;
    background-color: #E6E6E6 !important;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: solid #FCB812 3px;
     /*background-color: #1a4567 !important;*/
    -webkit-print-color-adjust: exact;
  }
  .invoice-footer-logo{
    text-align: center;
  }
  .invoice-footer-logo img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .invoice-sosmed {
    margin-top: 15px;
    margin-right: 45px;
  }
/*--------------------invoice--------------------*/

/*opening soon*/
.openingsoonContent{
  position: absolute;
  background: url('../images/comingsoon_bg.png') no-repeat center center;
  background-size: cover;
  font-size: 13px;
  width: 100%;
  min-height: 300px;
  text-align: center;
}
.openingsoonContent .openingsoonTitle{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  border: solid #FCB812 2px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.openingsoonContent .openingsoonTitle span{
  font-size: 30px;
  text-align: center;
}

.openingsoonContent .text{
  font-size: 13px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.openingsoonContent .modal-close{
  margin-right: 15px;
}

.modal-dialog{
  padding-left: 0px;
  padding-top: 10%;
}


/*--------------------media max 398--------------------*/
  @media (max-width: 398px) {
  /*--------------------top Navbar--------------------*/
    .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: black;
      color: #fff;
      z-index: 1000;
      /*height: 130px;*/
      overflow: hidden;
      /*line-height: 90px;*/
      padding-bottom: 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .openingsoonContent .openingsoonTitle span{
      font-size: 20px;
      text-align: center;
    }
    .modal-dialog{
      padding-top: 30%;
    }
    .header img{
      top: 0;
      left: 0;
      z-index: 1000;
      height: 60px;
      overflow: hidden;
      -webkit-transition: height 0.4s;
      -moz-transition: height 0.4s;
      transition: height 0.4s;
      /*line-height: 160px;*/
      /*margin-top: -2%;*/
    }
    .smallIcon img{
      margin-top: 1%;
      width: 40px;
      height: auto;
      display: inline-block;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      margin-right: 2%;
    }
    .header h1 {
      /*font-size: 20px;
      font-weight: normal;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
      font-size: 24px;
      /*margin-top: 5%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navTopMargin {
      /*margin-top: -2%;*/
      /*-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/
      margin-top: -2%;
      z-index: 2;
      /*margin-left: -30%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    /*Shrink mode*/
    .header.shrink {
      /*height: 130px;*/
      overflow: hidden;
      line-height: 90px;
      /*height: 90px;*/
      opacity: 1;
      /*margin-top: -1%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      /*padding-bottom: 10px;*/
      /*display: block;*/
      position: absolute;
    }
    .header.shrink img{
      height: 40px;
      margin-top: -2%;
    }
    .header.shrink h1 {
      font-size: 20px;
      /*margin-top: 5%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .smallIcon.shrink img{
      /*margin-top: 10%;*/
      width: 30px;
      height: auto;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      /*display: li*/
    }
    .navTopMargin.shrink{
      margin-top: -2%;
      /*margin-left: -30%;*/
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  /*--------------------top Navbar--------------------*/
    .slider{
      display: none;
    }
    .HPsection{
      /*margin-toppp:80px;*/
    }
    /*.sectionProducts .col-xs-6{
      width: 100%;
    }*/
    /*.menu{
      top: 10px;
    }*/
    .priceAsli{
      display: block;
    }
    .pageTitle{
      font-size: 1em;
    }
    .detailAmount input{
      width: 30%;
    }
    .noProductWarning span{
      font-size: 20px !important;
    }
    .modal-close{
      margin-top: -40px;
    }
     .priceAsli{
      font-size: 9px;
      display: inline;
    }
    .productPrice{
      font-size: 15px;
      display: inline;    
    }
  }
/*--------------------media max 398--------------------*/

/*--------------------media max 767--------------------*/
  @media (max-width: 767px){
    /*modal*/
      /*product detail*/
        .detailProductCta{
          float: right;
        }
        .detailProductMore{
          float: left;
        }
      /*product detail*/
    /*modal*/
    .footer img{
      width: 30%;
      margin-bottom: 30px;
    }
    .detailProductImage img{
      width: 50%;
    }
    .detailProductPrice{
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .buttonCancelOrder{
      margin-top: 15px;
    }
    .noProductWarning span{
            
    }
    .footer img{
      width: 90%;
      /*margin-bottom: 15px;*/
    }
    .filterSection{
      margin-top: 15px;
    }
    .logo-footer img{
      width: 50%;
    }
    .footerSubtitle{
      margin-top: 15px;
    }
   /* .fullWidthMenu{
      margin-left: -0px;
      position: absolute;
    }*/
    .menuDashboard nav ul li > ul{
      display: block;
      position: absolute;
      background-color: #FCB812;
      text-align: left;
    }
    .menuDashboard nav ul ul li{
      background-color: #FFD366;
      cursor: pointer;
      display: block;
    }
    .menuDashboard nav ul:after{
      content: ""; 
      clear: both; 
      display: block;
    }
    .openingsoonContent{
      background: white;
    }
    .cartNotif{
      margin-top: 5px;
    }
    .openingsoonContent .openingsoonTitle{
      width: 90%;
    }
    .openingsoonContent .modal-close{
      /*margin-top: 0px;*/
      margin-right: 1px;
    }
  }
/*--------------------media max 767--------------------*/

/*--------------------media max 991--------------------*/
  @media (max-width: 991px) {
    .bodywrapper{
      margin-top: 52px;
    }
    .contentwrapper{
      position: static;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    .menuSlider{
      display: block;
      background-color: white;
      width: 60%;
      max-width: 250px;
      /*height: 90%;*/
      top:59px;
      bottom: 0;
      /*overflow: hidden;*/
      display: inline;
      position: fixed;
      /*z-index: 4;*/
      -webkit-transform: translate(-100%, 0);
      -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
      -o-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      -ms-transition: transform 0.5s ease;
      -o-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      overflow-y: scroll;
      overflow-x:hidden;
      z-index: 19;
    }
    .menuSlider.active{
      display: block;
      background-color: white;
      width: 60%;
      max-width: 250px;
      /*height: 90%;*/
      /*overflow: hidden;*/
      display: inline;
      position: fixed;
      /*z-index: 4;*/
      overflow-y: scroll;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .menuItems{
      margin-top: 15px;
    }
    .menuItem{
      text-align: center;
      /*padding: 5px;*/
    }
    .menuItem ul{
      padding: 0px;
    }
    .menuItem ul>li{
      padding-left: 45px;
    }
    .menuSlider_button{
      margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
      width: 100%;
    }
    .overlay{
      
    }
    .overlayactive{
      display: block;
      background-color: black;
      width: 100%;
      position: fixed;
      height: 1000px;
      opacity: 0.6;
      color: white;
      z-index: 5;
    }
    .menu{
      display: none;
    }
    .noProductWarning{
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .noProductWarning span{
      font-size: 30px;
    }
    .headerButtonAccount-loggedin{
      /*width: 100% !important;*/
    }
    .menuDashboard-mobile{
      /*padding-left: 0px;*/
    }
    .menuDashboard-mobile nav ul li{
      /*margin-left: -30px;*/
      padding-left: 0px;
    }
    .menuDashboard-mobile nav ul ul{
      /*margin-left: 0px;*/
      /*padding-left: 5px;*/
    }
    .menuDashboard-mobile nav ul ul li{
      /*margin-left: 0px; */

    }
    .menuDashboard nav ul{
      /*margin-left: -15px;*/
    }
  }
/*--------------------media max 991--------------------*/

/*--------------------media max 1200--------------------*/
  @media (max-width: 1200px) {
    .buttonRegister{
      padding-left: 8px;
      padding-right: 8px;
    }
    .buttonLogin{
      padding-left: 8px;
      padding-right: 8px;
    }
    .headerButtonAccount-loggedin{
      width: 150px;
    }
  }
/*--------------------media max 1200--------------------*/


